<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <a href="/products">HOME</a>
    <h1><%=product.name%></h1>
    <img src="<%=product.img%>" alt="">
    <h1><%=product.description%></h1>
    <h1><%=product.price%></h1>
    <h1><%= product.qty%> remaining</h1>


        <% if (product.qty > 0) { %>
    <form action="/products/<%= product.id %>">
        <button action="submit">BUY</button>
    </form>
    <% (product.qty = product.qty - 1) } %> 

    <a href="/products/<%=product.id%>/edit">Edit this Product</a>


</body>
</html>